@charset "UTF-8"

body { 
    background-color: rgba(166, 240, 69, 0.932);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);

}

h1#principal {
    text-align: center;
    background-color: rgb(20, 77, 18);
    color: white;
}


h2 {
    color: darkgreen;
}
    

.basico {
    color: rgb(93, 235, 11);

}

.intermediario {
    color: rgb(4, 201, 119);

}

.avancado {
    color: rgb(0, 170, 170);

}
.destaque{
    background-color: rgb(179, 159, 52);
}